.side_ankerpane{
    -fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;

}
.inner_pane{
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #784CF1;
}
.most_inner_pane {
    -fx-background-color: #6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #784CF1;
}
.btn_workbench{
    -fx-background-color: #141313;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.pane_1{
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
.pane_11{
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
}
.pane_111{
    -fx-background-color: #FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;
}
.table-view .column-header-background .filler{
    -fx-cell-size: 20;
    -fx-background-color: #FFFFFF;
}
.table-view .column-header-background .label{
    -fx-text-fill: #52438F;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-text-fill: #000000;
}
.table-row-cell:selected{
    -fx-background-color: #EBE9F6;
}

.table-row-cell:selected {
    -fx-background-color: #6c6296;
    -fx-text-fill: white;
    -fx-table-cell-border-color: transparent;
}
/*tab pane*/
.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}
.tab-pane{
    -fx-tab-min-width:90px;
}
.tab{
    -fx-background-insets: 0 0 0 0,0,0;
}
.tab-pane .tab{
    -fx-background-color: white;
}
.tab-pane .tab:selected
{
    -fx-background-color: white;
    -fx-text-fill: #6F5CC2;
    -fx-border-color: #6F5CC2;
    -fx-border-width: 0px 0px 3px 0px;
}
.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #A5A9B4;

}
.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #6F5CC2;
}

/* Title */
.title-text {
    -fx-font-family: "Arial Black", Gadget, sans-serif; /* Set font family */
    -fx-font-size: 24px; /* Set font size */
    -fx-text-fill: #333; /* Text color */
}

/* Text fields */
.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.9); /* White background with reduced opacity */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 8px; /* Padding */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #333; /* Text color */
}

/* Date picker */
.date-picker {
    -fx-background-color: rgba(255, 255, 255, 0.9); /* White background with reduced opacity */
    -fx-border-color: #ccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #333; /* Text color */
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5;
    -fx-padding: 4px;
}